@model LojaNet.UI.Web.Models.PedidoViewModel

@{
    ViewBag.Title = "Incluir";
}

<style>
    .celula-numero {
        text-align: right;
        white-space: nowrap;
    }

    #novoDiv {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #novoContainer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
</style>

<h2>Pedidos</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Incluir Novo</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Model.Data.ToString("d")

        </div>
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.ClienteId, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ClienteId, new SelectList(Model.Clientes, "Id", "Nome", Model.ClienteId), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.FormaPagamento, "Forma de Pagamento", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FormasPagamento, new SelectList(Model.FormasPagamento, Model.FormaPagamento), new { @class = "form-control" })
        </div>
    </div>

    <hr />

    <div id="novoContainer">
        <button type="button" id="novoButton" class="btn btn-light">Novo</button>

        <div id="novoDiv" style="display:none">

            @Html.DropDownListFor(model => model.NovoItemProdutoId, new SelectList(Model.Produtos, "Id", "Nome"), new { @class = "form-control", style = "float:left; margin-right:10px" })
            @Html.EditorFor(model => model.NovoItemQuantidade, new { htmlAttributes = new { @class = "form-control", style = "width:70px; float:left; margin-right:10px" } })

            <input type="submit" name="incluirProduto" value="Incluir" class="btn btn-light" />
        </div>

    </div>

    <div>
        <table class="table">
            <tr>
                <th>Nome do Produto</th>
                <th class="celula-numero">Quantidade</th>
                <th class="celula-numero">Preço Unitário</th>
                <th class="celula-numero">Total</th>
            </tr>

            @for (int i = 0; i < Model.Itens.Count; i++)
            {

                @Html.HiddenFor(model => model.Itens[i].ProdutoId)
                @Html.HiddenFor(model => model.Itens[i].ProdutoNome)
                @Html.HiddenFor(model => model.Itens[i].Quantidade)
                @Html.HiddenFor(model => model.Itens[i].Preco)

                <tr>
                    <td>@Model.Itens[i].ProdutoNome</td>
                    <td class="celula-numero">@Model.Itens[i].Quantidade</td>
                    <td class="celula-numero">@Model.Itens[i].Preco.ToString("c")</td>
                    <td class="celula-numero">@Model.Itens[i].Total.ToString("c")</td>
                </tr>
            }

        </table>
    </div>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="/Pedido/Index" class="btn btn-light">Voltar</a>
            <input type="submit" name="Gravar" value="Gravar" class="btn btn-light" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
    $(function () {
        $('#novoButton').click(function () {
            $('#novoDiv').toggle();
        });
    });
</script>
}